/* ------------- Fonts ------------- */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans"),
       url(../fonts/web/ptsans.woff2) format("woff2"),
       url(../fonts/web/ptsans.woff) format("woff");
}

@font-face {
  font-family: "PT Sans Bold";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSansBold"),
       url(../fonts/web/ptsansbold.woff2) format("woff2"),
       url(../fonts/web/ptsansbold.woff) format("woff");
}


/* ------------- Сommon styles ------------- */

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  min-width: 768px;
  height: 100vh;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333;

  background-color: #f2f2f2;
}

.container {
  position: relative;

  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.button {
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;

  font: inherit;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  word-break: break-all;
  color: #ffffff;

  border: none;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button_blue {
  background-color: #81b3d2;
}

.button_blue:hover,
.button_blue:focus {
  background-color: #669ec0;
}

.button_blue:active {
  background-color: #5496bd;
}

.button_brown {
  background-color: #766357;
}

.button_brown:hover,
.button_brown:focus {
  background-color: #604e43;
}

.button_brown:active {
  background-color: #503e33;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}


/* ------------- Header ------------- */

.main-header {
  width: 100%;
}


/* ------------- Main content ------------- */

.main-content {
  width: 100%;
}


/* ------------- Footer ------------- */

.main-footer {
  width: 100%;
}

.copyrights g {
  fill: grey;
}
